/* App.css */
.about-container {
  background-color: grey;
  padding: 5%;
  padding-top: 15%;
  border-radius: 15px;
  padding-bottom: 15%;
  text-align: center;
  width: 80%;
  height: 40%;
  margin: 40px auto; /* This adds the outside gap */
}

h1 {
  text-align: center;
  color: #333;
}

